.productItem{
    width: 33%;
    text-align: center;
}
.productLink{
    font-size: $span-font-size;
    color: $color-secondary;
    font-weight: bold;
    border: 1px solid #DCDCDC;
    padding: 27px 20px;
    
    
}
.productLink.active{
    position: relative;
}
.productLink.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 8px solid #AA0601;   
}
.productLink.hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    border-bottom: 8px solid;
    transition:all .4s;
}
.productIcon{
    font-size: 40px;
    margin-right: 10px;
}
.productAd{
    width: 50%;
    height: 304px;
}
.opticalAd-1{
    background: url(/img/banner-1.png)no-repeat center/cover;
}
.opticalAd-2{
    background: url(/img/banner-2.png)no-repeat center/cover;
}
.productBlock{
    text-align: center;
}
.productTitle{
    font-size: 42px;
}
.productSubtitle{
    font-size: $span-font-size;
}
.productCard{
    width: 23%;
}
.productPic{
    height: 164px;
}
.opticalPic-1{
    background: url(/img/products-1.png)no-repeat center/cover;
}
.opticalPic-2{
    background: url(/img/products-2.png)no-repeat center/cover;
}
.opticalPic-3{
    background: url(/img/products-3.png)no-repeat center/cover;
}
.opticalPic-4{
    background: url(/img/products-4.png)no-repeat center/cover;
}
.opticalPic-5{
    background: url(/img/products-5.jpg)no-repeat center/cover;
}
.opticalPic-6{
    background: url(/img/products-6.jpg)no-repeat center/cover;
}
.opticalPic-7{
    background: url(/img/products-7.jpg)no-repeat center/cover;
}
.opticalPic-8{
    background: url(/img/products-8.jpg)no-repeat center/cover;
}
.opticalPic-9{
    background: url(/img/products-9.jpg)no-repeat center/cover;
}
.opticalPic-10{
    background: url(/img/products-10.jpg)no-repeat center/cover;
}
.opticalPic-11{
    background: url(/img/products-11.jpg)no-repeat center/cover;
}
.opticalPic-12{
    background: url(/img/products-12.jpg)no-repeat center/cover;
}
.productColor{
    font-size: $h4-font-size;
}
.productPrice{
    color: #AA0601;
    font-weight: bold;
}
.darkColor{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: #5F3E2D;
    margin-right: 8px;
}
.lightColor{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: #B75929;
}
.pageBar{
    margin-top: 96px;
    margin-bottom: 160px;
}
.pageLink{
    padding: 11px 16px;
    font-size: 19px;
    color: #555555;
    border: 1px solid #555555;
    &:hover{
        background-color: #555555;
        color:$linkColor-primary;
    }
}